@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
  color: black;
  background: transparent;
}
::selection {
  color: black;
  background: transparent;
}
body{
    overflow: hidden;
}
.border-test {
    @apply border border-red-400
}
.border-test2 {
    @apply border border-blue-600
}